<?xml version = "1.0" encoding = "UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="core.Calculator Test">
        <classes>
            <class name="src.test.java.core.AddTest" />
            <class name="src.test.java.core.DivideTest" />
            <class name="src.test.java.core.MultiplyTest" />
            <class name="src.test.java.core.SubtractTest" />
        </classes>
    </test>
</suite>